body {
  margin: 0;
  font-family:  'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(251, 232, 235);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* /////////////////////////// Home Section //////////////////////////// */
.Home{
  width: 55vw;
  height: min-content;
  min-height: 25vh;
  background: rgb(250, 249, 249);
  box-shadow: 0 0 2px 1px rgb(203, 202, 202);
  border-radius: 2px;
  margin: auto;
  padding: 10px;
  padding-top: 15px;
  padding-left: 3rem;
}

p{
  color: rgb(226, 211, 211);
  text-align: center;
  padding: 40px;
  font-size: 30px;
}

.span-div{
  border-bottom: 2px solid rgb(231, 228, 228);
  padding-bottom: 15px;
}
span{
  margin-right: 12rem;
  color: rgb(74, 137, 164);
}
.span-div img{
  width: 22px;
}
.span-div img:hover{
  width: 23px;
  /* box-shadow: 0 0px 2px 1px grey; */
  /* border-radius: 50%; */
}

.li-data-div{
  margin-left: -2rem;
}
.data-div{
  padding: 10px;
  margin-left: -0.8rem;
}
.data-div input{
  border-width: 0px;
  color: rgb(130, 126, 126);
  padding: 1px;
  padding-left: 5px;
  margin-right: 3.8rem;
}
.data-div input:focus{
  border-width: 0px;
  outline-width: 0px;
}

.data-div select{
  border-width: 0px;
  padding: 4px;
  padding-left: 5px;
  margin-right: 9rem;
  color: rgb(141, 138, 138);
}
.data-div select:focus{
  border-width: 0px;
  outline-width: 0px;
}
.data-div img{
  width: 22px;
  margin-right: 5rem;
}
.data-div img:hover{
  box-shadow: 0px 0px 2px 1px rgb(142, 102, 102);
  border-radius: 60%;
}


/* chield div */
.li-chield-div{
  padding: 3px;
}
.chield-div{
  padding: 10px;
  margin-left: -0.8rem;
  padding-bottom: 10px;
}
.chield-div input{
  border-width: 0px;
  color: rgb(146, 140, 140);
  padding: 1px;
  padding-left: 5px;
  margin-right: 1.8rem;
}
.chield-div input:focus{
  border-width: 0px;
  outline-width: 0px;
}

.chield-div select{
  border-width: 0px;
  padding: 4px;
  padding-left: 5px;
  margin-right: 8.8rem;
  color: rgb(146, 143, 143);
}
.chield-div select:focus{
  border-width: 0px;
  outline-width: 0px;
}
.chield-div img{
  width: 22px;
  margin-right: 5rem;
}
.chield-div img:hover{
  box-shadow: 0px 0px 2px 1px rgb(142, 102, 102);
  border-radius: 60%;
}
